<div class="footer">
  <p class="text">
    <span class="text -bold">{{ site.author }}</span> - รักในการออกแบบและพัฒนาเว็บไซต์ อยู่ที่กรุงเทพมหานคร ประเทศไทย
คุณกำลังอ่านบันทึกของสิ่งที่ผมได้เรียนรู้ในแต่ละวัน
ส่งข้อความมาคุยกันได้ที่ {{ site.email }}
  </p>
</div>

<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){
z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?43OcS1Kk1R038icaRqLRBKLkvUgaXG8W';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->
