@import "vendors/reset.scss";
@import "vendors/fonts.scss";
@import "vendors/font-awesome.scss";

* {
  transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

@import "modules/colors.scss";
@import "modules/fonts.scss";
@import "modules/tables.scss";

@import "components/top-bar.scss";
@import "components/content.scss";
@import "components/content-header.scss";
@import "components/content-category.scss";
@import "components/content-body.scss";
@import "components/code-box.scss";
@import "components/content-social.scss";
@import "components/content-next.scss";
@import "components/content-list.scss";
@import "components/footer.scss";
