table {
  width: 100%;
  > tbody > tr:first-child {
    border-top: 2px solid #000000;
  }
  > tbody > tr {
    border-bottom: 1px solid $color-font-regular;
  }
  > tbody > tr:last-child {
    border-bottom: none;
  }
  > tbody > tr > td {
    padding: 10px 0;
  }
}
