.content-social {
  text-align: center;
  margin: 70px 0;
  & {
    color: $color-font-regular;
    font-size: 18px;
  }
  > .item {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
    box-shadow: none;
    border: 2px solid transparent;
    border-radius: 50%;
    width: 30px;
    height: 24px;
    padding-top: 6px;
  }
  > .item:hover {
    box-shadow: none;
    border-color: $color-font-bold;
  }
  > .item:last-child {
    margin-right: 0;
  }
  > .item:hover > .fa {
    color: $color-font-bold;
  }
}
