.content-body {
  & {
    margin-top: 100px;
  }
  a {
    color: $color-font-regular;
    text-decoration: none;
    box-shadow: inset 0px -1px $color-font-bold;
    cursor: pointer;
  }
  a:hover {
    color: $color-font-bold;
    box-shadow: inset 0px -2px $color-primary;;
  }
  img {
    width: 100%;
    margin: 10px 0;
    border-radius: 3px;
  }
  p:first-child {
    margin-bottom: 20px;
  }
  li {
      margin: 15px 0px;
      color: $color-font-regular;
  }
  li:before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid $color-code-border-bg;
    margin-right: 10px;
  }
}
