.content-category {
  & {
    font-family: $font-primary-regular;
    color: #fff;
    display: block;
    width: 60px;
    height: 60px;
    background: #6186B2;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -5px 5px rgba(20,204,172,.53),5px -5px rgba(255,204,25,.69),4px -5px rgba(155,89,182,0.4),3px 5px rgba(155,90,182,0.3);

    // box-shadow: -3px 3px rgba(255,46,25,.53),3px -3px rgba(173,204,20,.69),2px -3px rgba(97,134,178,0.2),1px 3px rgba(46,204,113,0.3);
  }
  &.-circle {
    border-radius: 50%;
  }
  &:after {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding-top: 24px;
    font-size: 14px;
  }
  &.-css {
    // background: #9B59B6;
    background: #BB4D4D;
    box-shadow: -5px 5px rgba(20,204,172,.53),5px -5px rgba(255,204,25,.69),4px -5px rgba(155,89,182,0.4),3px 5px rgba(155,90,182,0.3);
    animation-name: flip;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  &.-css:after {
    content:"CSS";
  }
  &.-dev:after {
    content: "Dev"
  }
}

@keyframes flip {
    0% {
      box-shadow: -4px 4px rgba(20,204,172,.53),4px -4px rgba(255,204,25,.69),3px -4px rgba(155,89,182,0.4),2px 4px rgba(155,90,182,0.3);
    }
    50% {
      box-shadow: 4px -4px rgba(20,204,172,.53),-4px 4px rgba(255,204,25,.69),-4px 3px rgba(155,89,182,0.4),-2px -4px rgba(155,90,182,0.3);
    }
    100% {
      box-shadow: -4px 4px rgba(20,204,172,.53),4px -4px rgba(255,204,25,.69),3px -4px rgba(155,89,182,0.4),2px 4px rgba(155,90,182,0.3);
    }
}
