.content-next {
  & {
    width: 95%;
    background-image: url('../images/bg.jpeg');
    background-position: center;
    background-size: cover;
    max-height: 500px;
    display: block;
    content: "";
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    padding: 137px 0;
    color: #ffffff;
  }
  &:after {
    height: 500px;
    content: "";
    background: #1B1C59;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .8;
  }
  > .next-article {
    position: relative;
    z-index: 10;
    letter-spacing: 3.5px;
    font-family: $font-secondary-regular;
    font-size: 18px;
  }
  > .next-article > .fa {
    color: $color-primary;
    margin-right: 5px;
  }
  > .next-article > span {
    opacity: .5;
  }
  > .title {
    position: relative;
    z-index: 10;
    font-size: 40px;
    font-style: italic;
    font-family: $font-secondary-bold;
    letter-spacing: 2px;
    line-height: 2;
  }
  > .subtitle p{
    position: relative;
    z-index: 10;
    font-family: $font-secondary-regular;
    font-size: 24px;
    opacity: .65;
    color: #ffffff;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  > .read{
    position: relative;
    z-index: 10;
    cursor: pointer;
    font-family: $font-secondary-regular;
    padding: 15px 55px;
    border-radius: 40px;
    border: 2px solid $color-primary;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ffffff;
  }
  > .read:hover {
    background: $color-primary;
  }
}
