.footer {
  & {
    margin-top: 50px;
    width: 80%;
    border-top: 1px solid lighten($color-font-regular,30);
    padding: 40px 20px;
    margin-left: auto;
    margin-right: auto;
  }
  > p.text {
    color: $color-font-regular;
    width: 70%;
    max-width: 420px;
    line-height: 1.5;
  }
  > p.text > .-bold {
    color: $color-font-bold;
  }
}

@media screen and (max-width: 425px) {
  .footer > p.text {
    width: 100%;
    text-align: center;
  }
}
