---
layout: default
---

<div class="content">
  <header class="content-header">
    <div class="content-category -circle -{{page.categories}}"></div>
    <div class="title">{{ page.title }}</div>
    <a href="{{site.url}}" class="subtitle">
      <address class="author">
        {{ site.author }}
      </address>
      <time class="op-published date" dateTime="{{ page.date }}">
        {{ page.date | date_to_string }}
      </time>
    </a>
  </header>
  <div class="content-body">
    {{ content }}
    <div class="content-social">
      <a href="http://www.facebook.com/lukkiddd" class="item"><i class="fa fa-facebook"></i></a>
      <a href="http://www.behance.net/arbacuz" class="item"><i class="fa fa-behance"></i></a>
      <a href="http://www.github.com/lukkiddd" class="item"><i class="fa fa-github"></i></a>
    </div>
  </div>
</div>
{% if page.next.title %}
  {% if page.next.image %}
  <div class="content-next" style="background-image: url('{{page.next.image}}')">
  {% else %}
  <div class="content-next">
  {% endif %}
    <div class="next-article">
      <div class="fa fa-eye"></div><span>บทความถัดไป:</span>
    </div>
    <div class="title">
      {{ page.next.title }}
    </div>
    <div class="subtitle">
      {{ page.next.excerpt | truncatewords:3 }}
    </div>
    <a href="{{ page.next.url }}" class="read">
      อ่านต่อ... <div class="fa fa-angle-right"></div>
    </a>
  </div>
  {% endif %}
  <div class="content -footer">
    <div class="content-list">
      <div class="title">บทความก่อนหน้า:</div>
      <div class="item-list">
        {% for a in site.posts %}
        <a class="item" href="{{a.url}}">
          <span class="date">{{a.date | date_to_string}}</span>
          <span class="article-title">
            {{a.title}}
          </span>
          <span class="article-cate text -menlo">
            {{ a.categories }}
          </span>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
