---
layout: default
---

<div class="content">
  <div class="content-header">
    <div class="content-category -circle -{{page.categories}}"></div>
    <div class="title">{{ page.title }}</div>
    <div class="subtitle">
      <div class="author">
        {{ site.author }}
      </div>
      <div class="date">
        {{ site.time | date_to_string }}
      </div>
    </div>
  </div>
  <div class="content-body">
    {{ content }}
    <div class="content-social">
      <div class="item"><i class="fa fa-facebook"></i></div>
      <div class="item"><i class="fa fa-behance"></i></div>
      <div class="item"><i class="fa fa-github"></i></div>
    </div>
  </div>
</div>
  <div class="content-next">
    <div class="next-article">
      <div class="fa fa-eye"></div><span>บทความถัดไป:</span>
    </div>
    <div class="title">
      {{ page.next.title }}
    </div>
    <div class="subtitle">
      {{ page.next.excerpt }}
    </div>
    <a href="{{ page.next.url }}" class="read">
      อ่านต่อ... <div class="fa fa-angle-right"></div>
    </a>
  </div>
  <div class="content -footer">
    <div class="content-list">
      <div class="title">บทความก่อนหน้า:</div>
      <div class="item-list">
        {% for a in site.posts %}
        <a class="item" href="#">
          <span class="date">{{a.date | date_to_string}}</span>
          <span class="article-title">
            {{a.title}}
          </span>
          <span class="article-cate text -menlo">
            {{ a.categories }}
          </span>
        </a>
        {% endfor %}
        <!-- <a class="item -bold" href="#">
          <span class="date">23 มกราคม 2559</span>
          <span class="article-title">
            เขียน JS ให้เป็นระเบียบ
          </span>
          <span class="article-cate text -menlo">
            CSS
          </span>
        </a> -->
      </div>
    </div>
  </div>
</body>
</html>
